<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="pacote">Pacote</label>
      <input type="file" accept=".txt" id="pacote" (change)="onFileChange($event)" #fileInput>
    </div>
    <button type="submit" mat-button color="primary">Submit
      <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
    </button>
  </form>
  <div>
    <!-- <p *ngIf="array">{{array}} qualquer coisa</p> -->
  </div>


<app-priority [proccesses]="proccesses"></app-priority>
<app-round-robin [proccesses]="proccesses"></app-round-robin>
<app-shortest-job-first [proccesses]="proccesses"></app-shortest-job-first>
<app-first-in-first-out [proccesses]="proccesses"></app-first-in-first-out>

